<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        {% load static %}
        <link rel="shortcut icon" type="image/jpg" href="{% static 'images/jp-logo-master-transparent.png' %}"/>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>

    <body style="background: url('{% static 'images/weight-lifting-aqua.jpg' %}') left 0 top 0 transparent;" class="jp-home-body">
        <!-- Home Page -->
        <div class="panel-container">
            <div class="panel text-jp-white">
                <!-- Logo image -->
                <figure class="logo-image"><img src="{% static 'images/jp-logo-master-transparent.png' %}" /></figure>
                <h1 class="py-2">Joe Paris Coaching</h1>
                <h3>Coming soon</h3>
            </div>
        </div>

        <!-- Temp subscribe for first release -->
        <div class="fixed-bottom mb-4 text-center">
            <div class="container">
                <form role="form" method="POST" action="{% url 'subscribe' %}">{% csrf_token %}
                    {% for field in form %}
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="button-subscribe"
                            id="{{ field.id_for_label }}" name="{{ field.html_name }}">
                        <button class="btn btn-jp-black" type="submit" id="button-subscribe">Submit</button>                
                    </div>
                    {{ field.errors }}
                    {% endfor %}
                </form>
            </div>
        </div>

        <!-- Django messages -->
        {% if messages %}
        {% for message in messages %}
        <div class="toast align-items-center text-white bg-{{ message.tags }} border-0" role="alert" aria-live="assertive"
            aria-atomic="true" data-autohide="true" id="subscribeToast">
            <div class="d-flex">
                <div class="toast-body">
                    {{ message }}
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
        </div>
        {% endfor %}
        {% endif %}

        <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
        {% if messages %}
        <script>
            var option = {
                animation: true,
                delay: 3000
            };
            var toastHTMLElement = document.getElementById("subscribeToast");
            var toastElement = new bootstrap.Toast(toastHTMLElement, option);
            toastElement.show();      
        </script>
        {% endif %}

    </body>
</html>