<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% load static %}
    <link rel="shortcut icon" type="image/jpg" href="{% static 'images/jp-logo-master-transparent.png' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body class="bg-jp-black">

     <!-- Home Page -->
    <div class="panel-container">
        <div class="panel text-jp-white">
            <!-- Logo image -->
            <figure class="header-image">
                <img src="{% static 'images/jp-logo-master-transparent.png' %}" class=" mx-auto d-block img-main" alt="jp-logo-master">
            </figure>
            <br><hr>
            <h1 class="py-2">Joe Paris Coaching</h1>
            <h3>Building Rock Solid Bodies and Bulletproof Minds</h3>
        </div>
    </div>

    <!-- Sign-in Button trigger modal -->
    <div class="fixed-bottom mb-4 text-center jpc-btn">
        {% if user.is_authenticated %} 
            {% if request.user.is_superuser %}
            <a class="btn btn-jp-black border-jp-aqua me-4" href="{% url 'accounts:profile' %}" role="button">Profile</a>
            <!-- <a type="button" class="btn btn-jp-red ms-4" href="{% url 'logout'%}" role="button">Logout</a> -->
            <a class="btn btn-jp-orange ms-4" href="{% url 'admin:index' %}" role="button">Admin</a>
            {% else %}
            <a class="btn btn-jp-black border-jp-aqua me-4" href="{% url 'accounts:profile' %}" role="button">Profile</a>
            <!-- <a type="button" class="btn btn-jp-red ms-4" href="{% url 'logout'%}" role="button">Logout</a> -->
            <a class="btn btn-jp-orange ms-4" href="{% url 'journal:index' %}" role="button">Journal</a>
            {% endif %}
        {% else %}
        <button type="button" class="btn btn-jp-grey border-jp-aqua me-4">Join</button>
        <a type="button" class="btn btn-jp-black border-jp-aqua ms-4" href="{% url 'login'%}" role="button">Login</a>
        {% endif %}
    </div>

    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>


</body>

</html>