{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<div class="row pb-1">
    <div class="col text-center">
        <figure class="header-image text-center">
            <img src="{% static 'images/jp-logo-master-transparent.png' %}" class="mx-auto d-block img-logo"
                alt="Profile Picture">
        </figure>
        <h1 class="py-2 text-jp-white text-center">Password</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <form method="post">
            {% csrf_token %}
            {% if form.email.errors %}
            {{ form.email.errors }}
            {% endif %}
                <p>{{ form.email }}</p>
              <input type="submit" class="btn btn-default btn-lg" value="Reset password">
        </form>
    </div>
</div>

{% endblock %}

<!-- <div class="mb-3">
    <label for="id_username" class="form-label">Username</label>
    <input type="text" name="username" autocomplete="username" id="id_username" class="form-control" aria-describedby="usernameHelp">
    <div id="usernameHelp" class="form-text">Enter your username</div>
</div>
<div class="mb-3">
    <label for="id_password" class="form-label">Password</label>
    <input type="password" name="password" autocomplete="current-password" id="id_password" class="form-control" aria-describedby="usernameHelp">
</div>
<div class="text-center mt-4">
    <a class="btn btn-jp-red me-4" href="{% url 'home:index' %}" role="button">Back</a>
    <button type="submit" class="btn btn-jp-black border-jp-aqua ms-4">Login</button>
</div> -->