{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<div class="row pb-1">
    <div class="col text-center">
        <figure class="header-image text-center">
            <img src="{% static 'images/jp-logo-master-transparent.png' %}" class="mx-auto d-block img-logo"
                alt="Profile Picture">
        </figure>
        <h1 class="py-2 text-jp-white text-center">Password</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>
    </div>
</div>

{% endblock %}