{% extends "base_workout.html" %}
{% load static %}
{% block content %}
    <!-- Finish Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-jp-black text-jp-white">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Comfirmation</h5>
                </div>
                <div class="modal-body">
                    <p>Finished with your workout?</p>
                </div>
                <div class="mb-4 text-center">
                    <button type="button" class="btn btn-jp-red me-4" data-bs-dismiss="modal" aria-label="Close">Back</button>
                    <a class="btn btn-jp-orange me-4" href="{% url 'workout:complete' journal.id %}" role="button">Finish</a>
                </div>             
            </div>
        </div>
    </div>
    <!-- Workout List/Detail -->
    <div class="container">
        <div class="row pb-1">
            <div class="col text-center">
                <figure class="header-image text-center">
                    <img src="{% static 'images/jp-logo-master-transparent.png' %}" class="mx-auto d-block img-logo"
                        alt="Profile Picture">
                </figure>
                <h2 class="py-2 text-center">{{ journal.entry_date| date:"l" }}</h2>
                <h3 class="subtle">{{ journal.workout_id.name }}</h3>
            </div>
        </div>

        <!-- Buttons -->
        <div class="row py-3">
            <div class="col text-center">
                <div class="text-center jpc-btn">
                    <a class="btn btn-jp-black border-jp-aqua me-4" href="{% url 'journal:index' %}" role="button">Back</a>
                    <!-- Check logic for inputting approach_id -->
                    <a class="btn btn-jp-orange ms-4" href="{% url 'workout:create-progress' journal.id next_workout.routines__approachs__id %}" role="button">Workout</a>
                </div>
            </div>
        </div>

        <!-- Accordion -->
        {% with journal.workout_id.routines.all as routines %}
        <div class="row">
            <div class="col">
                <div class="accordion" id="accordionExample">
                    <!-- Accordion Exercise row -->
                    {% for routine in routines %}
                    <div class="accordion-item">
                        <!-- Accordion Item Header -->
                        <h2 class="accordion-header" id="heading{{routine.id}}">
                            <!-- IF statement for Excerise complete/active/todo -->
                            {% if forloop.counter == 1 %}
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse{{routine.id}}" aria-expanded="false" aria-controls="collapse{{routine.id}}">
                                {{ routine.exercise_id.name }}
                            </button>
                            {% else %}
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse{{routine.id}}" aria-expanded="false" aria-controls="collapse{{routine.id}}">
                                {{ routine.exercise_id.name }}
                            </button>
                            {% endif %}
                        </h2>

                        <!-- Accordion Item Contents -->
                        <div id="collapse{{ routine.id }}" aria-labelledby="heading{{routine.id}}"
                        class="accordion-collapse {% if forloop.counter == 1 %}show{% else %}collapse{% endif %}"
                        data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <!-- Tab list for Sets -->
                                {% with routine.approachs.all as approachs %}
                                    <!-- Set Information -->
                                    <table class="table">
                                        <thead>
                                            <tr>
                                              <th scope="col">Set</th>
                                              <th scope="col">Reps</th>
                                              <th scope="col">Instructions</th>
                                            </tr>
                                          </thead>
                                        <tbody>
                                            {% for approach in approachs %}
                                            <tr>
                                                <th scope="row">{{ approach.set_number }}</th>
                                                <td>{{ approach.reps_targetted }}</td>
                                                <td>{{ approach.perform_id.name }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </ul>
                                <!-- Tab Contents for Sets -->
                                <div class="tab-content" id="pills-tabContent">
                                    <!-- Example Set Contents -->

                                </div>
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endwith %}

    </div>    
{% endblock %}