<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% load static %}
    <link rel="shortcut icon" type="image/jpg" href="{% static 'images/jp-logo-master-transparent.png' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body class="bg-jp-black">
    <div class="panel-container">
        <div class="panel text-jp-white">
            <!-- Logo image -->
            <figure class="header-image">
                <img src="{% static 'images/jp-logo-master-transparent.png' %}" class=" mx-auto d-block img-main" alt="jp-logo-master">
            </figure>
            <br><hr>
            <h1 class="py-2">Comfirmation</h1>
            <h3>Finished with your workout?</h3>
        </div>
    </div>
    <div class="fixed-bottom mb-4 text-center jpc-btn">
        <a class="btn btn-jp-aqua me-4" href="{% url 'home:index' %}" role="button">Home</a>
        <a class="btn btn-jp-orange me-4" href="{% url 'workout:workout-view' journal.id %}" role="button">Review</a>
    </div>  
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>


</body>

</html>