{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row pb-1">
        <div class="col text-center">
            <figure class="menu-image">
                <img src="{% static 'images/jp-logo-master-transparent.png' %}" class=" mx-auto d-block logo-img"
                    alt="jp-logo-master">
            </figure>
            <h1 class="py-2 text-center">{{ workout.name }}</h1>
            <br>
            ID: {{active.id}}<br>Exercise id: {{active.routine_id.exercise_id.id}}<br>
        </div>
    </div>
    <!-- Accordion -->
    <div class="row">
        <div class="col">
            <div class="accordion" id="accordionExample">
                <!-- Accordion Exercise row -->
                {% for routine in routines %}
                <div class="accordion-item">
                    <!-- Accordion Item Header -->
                    <h2 class="accordion-header" id="heading{{routine.id}}">
                        <!-- IF statement for Excerise complete/active/todo -->
                        {% if routine.exercise_id.id == active.routine_id.exercise_id.id %}
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse{{routine.id}}" aria-expanded="false" aria-controls="collapse{{routine.id}}">
                            {{ routine.exercise_id.name }}
                        </button>
                        {% elif routine.complete %}
                        <button class="accordion-button collapsed exercise-complete" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse{{routine.id}}" aria-expanded="false" aria-controls="collapse{{routine.id}}">
                            {{ routine.exercise_id.name }}
                        </button>
                        {% else %}
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse{{routine.id}}" aria-expanded="false" aria-controls="collapse{{routine.id}}">
                            {{ routine.exercise_id.name }}
                        </button>
                        {% endif %}
                    </h2>
                    <!-- Accordion Item Contents -->
                    <div id="collapse{{ routine.id }}" aria-labelledby="heading{{routine.id}}"
                        class="accordion-collapse {% if routine.exercise_id.id == active.routine_id.exercise_id.id %}show{% else %}collapse{% endif %}"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <!-- Tab list for Sets -->
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <!-- Example Set Tab -->
                                {% for approach in approaches  %}
                                <li class="nav-item" role="presentation">
                                    {% if approach.routine_id.id == routine.id %}
                                        {% if approach.id == active.id %}
                                        <button class="nav-link jp-set active" id="pills-home-tab" data-bs-toggle="pill"
                                            data-bs-target="#{{ approach.routine_id.exercise_id|cut:' ' }}{{approach.set_number}}" type="button" role="tab" 
                                            aria-controls="{{ approach.routine_id.exercise_id|cut:' ' }}{{approach.set_number}}"
                                            aria-selected="true">Set {{ approach.set_number }}</button>
                                        {% elif approach.reps_recorded > 0 %}
                                        <button class="nav-link jp-set set-complete" id="pills-home-tab" data-bs-toggle="pill"
                                            data-bs-target="#{{ approach.routine_id.exercise_id|cut:' ' }}{{approach.set_number}}" type="button" role="tab" 
                                            aria-controls="{{ approach.routine_id.exercise_id|cut:' ' }}{{approach.set_number}}"
                                            aria-selected="true">Set {{ approach.set_number }}</button>
                                        {% else %}
                                        <button class="nav-link jp-set" id="pills-home-tab" data-bs-toggle="pill"
                                            data-bs-target="#{{ approach.routine_id.exercise_id|cut:' ' }}{{approach.set_number}}" type="button" role="tab" 
                                            aria-controls="{{ approach.routine_id.exercise_id|cut:' ' }}{{approach.set_number}}"
                                            aria-selected="true">Set {{ approach.set_number }}</button>
                                        {% endif %}
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                            <!-- Tab Contents for Sets -->
                            <div class="tab-content" id="pills-tabContent">
                                <!-- Example Set Contents -->
                                {% for approach in approaches  %}
                                {% if approach.routine_id.id == routine.id %}
                                <div class="tab-pane fade{% if approach.id == active.id %} show active{% endif %}" 
                                    id="{{ approach.routine_id.exercise_id|cut:' ' }}{{approach.set_number}}" 
                                    role="tabpanel" aria-labelledby="{{ approach.routine_id.exercise_id|cut:' ' }}{{approach.set_number}}">
                                    <div class="container pt-4">
                                        <div class="row">
                                            <div class="col-md">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">Perform</th>
                                                            <td>{{ approach.perform_id.name }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Equipment</th>
                                                            <td>{{ approach.routine_id.exercise_id.equipment }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-md">
                                                <div class="float-start py-2">Target</div>
                                                <div class="float-end text-end py-2">Actual</div>
                                                <form action="{% url 'workout:approach' workout.id approach.routine_id.id approach.id %}" method="post">
                                                    {% csrf_token %}
                                                    <div class="input-group input-group-lg  my-3">
                                                        <span class="input-group-text bg-jp-grey text-jp-white"
                                                            id="inputGroup-sizing-lg">
                                                            {{ approach.reps_targetted }} Reps
                                                        </span>
                                                        <input type="number" name="reps_recorded" class="form-control" id="id_reps_recorded" aria-label="Repitions"
                                                        placeholder="Reps" aria-describedby="rep-input" value="{{ approach.reps_recorded }}">
                                                    </div>
                                                    <div class="input-group input-group-lg my-3">
                                                        <span class="input-group-text bg-jp-grey text-jp-white" id="inputGroup-sizing-lg">
                                                            {% if approach.weight_targetted %}
                                                            {{ approach.weight_targetted }} KG
                                                            {% else %}
                                                            - KG
                                                            {% endif %}
                                                        </span>
                                                        <input type="number" name="weight_recorded"  class="form-control" id="id_weight_recorded" aria-label="Weight" 
                                                        placeholder="Weight" aria-describedby="weigh-input" value="{{ approach.weight_recorded }}">
                                                    </div>
                                                    <div class="text-end mt-4">
                                                        <button type="submit" class="btn btn-jp-orange btn-lg my-3">Submit</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}