{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="text-center py-2 rounded-1 bg-jp-grey mb-1">
    <h3 class="text-uppercase pt-2 pb-1 text-jp-white">Edit View</h3>
</div>
<div class="row mt-2">
    <div class="col">
        <form method="post">{% csrf_token %}
            {{ form|crispy }}
            <p class="text-muted">Select a workout if you wish to change, or leave it blank for a Rest Day</p>
            <div class="text-center my-4 jpc-btn">
                <a type="button" class="btn btn-jp-red me-4" href="{% url 'journal:detail' journal_id %}" role="button">Back</a>
                <input type="submit" value="Save" class="btn btn-jp-black border-jp-aqua text-jp-white ms-4">
            </div>
        </form>
    </div>
</div>
{% endblock content %}