<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% load static %}
    <!-- load thumbnail  -->
    <link rel="shortcut icon" type="image/jpg" href="{% static 'images/jp-logo-master-transparent.png' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block static %} {% endblock %}
</head>

<body class="bg-jp-black text-jp-white">
    {% if messages %}
        {% for message in messages %}
            <div id="djangoMessages" class="alert alert-{{ message.tags }} fixed-top" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <!-- Navbar -->
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-jp-black p-4">
            <div class="text-center jpc-btn">
                {% if title == 'Profile' %}
                <a class="btn btn-jp-aqua me-4" href="{% url 'accounts:profile' %}" role="button">Profile</a>
                <a class="btn btn-jp-black border-jp-orange ms-4" href="{% url 'journal:index' %}" role="button">Journal</a>
                {% elif title == 'Journal' %}
                <a class="btn btn-jp-black border-jp-aqua me-4" href="{% url 'accounts:profile' %}" role="button">Profile</a>
                <a class="btn btn-jp-orange ms-4" href="{% url 'journal:index' %}" role="button">Journal</a>
                {% else %}
                <a class="btn btn-jp-black border-jp-aqua me-4" href="{% url 'accounts:profile' %}" role="button">Profile</a>
                <a class="btn btn-jp-black border-jp-orange ms-4" href="{% url 'journal:index' %}" role="button">Journal</a>
                {% endif %}
            </div>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-jp-black">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <div class="container-fluid bg-jp-black">
        <div class="row">
            <div class="col-md-12 text-center">
                <figure class="header-image text-center">
                    <a href="{% url 'home:index' %}">
                        <img src="{% static 'images/jp-logo-master-transparent.png' %}" class="mx-auto d-block img-logo"
                        alt="Profile Picture">
                    </a>
                </figure>
                <h1 class="pt-2 text-center text-jp-white">{{ title }}</h1>
            </div>
        </div>
    </div>
    <div class="container text-jp-white">
        {% block content %} {% endblock %}
    </div>

    <!-- Development version -->
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>

    <!-- Production version -->
    <!-- <script src="https://unpkg.com/@popperjs/core@2"></script> -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script>
        setTimeout(function(){
            if ($('#djangoMessages').length > 0) {
                $('#djangoMessages').fadeOut();
            }
        }, 1500)
    </script>
    {% block script %} {% endblock %}
</body>

</html>