<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{title}}</title>

	{% load static %}
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>

<body>
	<section class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<figure class="header-image text-center">
					<img src="{% static 'images/jp-logo-master-transparent.png' %}" class="mx-auto d-block img-logo"
						alt="Profile Picture">
				</figure>
				<h1 class="pt-2 text-center">{{title}}</h1>
			</div>
		</div>
		<div class="row">
			<div class="offset-md-3 col-md-6">
				<p>Hi {{ user.first_name }}, please complete the check-in form below on a weekly basis:</p>

				<form action="" method="post">
					{% csrf_token %}
					{{ form.as_p }}
					<div class="text-center my-4 jpc-btn">
						<a class="btn btn-jp-red me-4" href="{% url 'accounts:profile' %}" role="button">Back</a>
						<button type="submit" class="btn btn-jp-black border-jp-aqua ms-4">Send</button>
					</div>
				</form>
			</div>
		</div>
	</section>

	<!-- Development version -->
	<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>

	<!-- Production version -->
	<!-- <script src="https://unpkg.com/@popperjs/core@2"></script> -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.js' %}"></script>

</body>

</html>