{% extends "base_generic.html" %}
{% load static %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<div class="content w-100">
				<div class="calendar-container">
					<div class="calendar">
						<div class="year-header">
							<span class="left-button fa fa-chevron-left" id="prev"> </span>
							<span class="year" id="label"></span>
							<span class="right-button fa fa-chevron-right" id="next"> </span>
						</div>
						<table class="months-table w-100">
							<tbody>
								<tr class="months-row">
									<td class="month">Jan</td>
									<td class="month">Feb</td>
									<td class="month">Mar</td>
									<td class="month">Apr</td>
									<td class="month">May</td>
									<td class="month">Jun</td>
									<td class="month">Jul</td>
									<td class="month">Aug</td>
									<td class="month">Sep</td>
									<td class="month">Oct</td>
									<td class="month">Nov</td>
									<td class="month">Dec</td>
								</tr>
							</tbody>
						</table>

						<table class="days-table w-100">
							<td class="day">Sun</td>
							<td class="day">Mon</td>
							<td class="day">Tue</td>
							<td class="day">Wed</td>
							<td class="day">Thu</td>
							<td class="day">Fri</td>
							<td class="day">Sat</td>
						</table>
						<div class="frame">
							<table class="dates-table w-100">
								<tbody class="tbody">
								</tbody>
							</table>
						</div>
						<!-- Journal and Wokout buttons -->
						<div class="text-center jpc-btn">
							<button type="button" class="btn btn-jp-black border-jp-aqua me-4" id="add-button">Notes</button>
							<!-- Update here!!! -->
							{% if journal_id %}
							<a id="workoutBtn" class="btn btn-jp-orange ms-4" href="{% url 'workout:workout-view' journal_id.id %}" role="button">Start</a>
							{% else %}
							<a class="btn btn-jp-orange ms-4" href="#" role="button" disabled>N/A</a>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="events-container">
				</div>
				<div class="dialog bg-jp-black text-jp-white" id="dialog">
					<h2 class="dialog-header text-center pb-2">Notes</h2>
					<div class="text-center jpc-btn">
						<button type="button" class="btn btn-jp-red me-4" id="cancel-button">Back</button>
						<a class="btn btn-jp-black border-jp-aqua ms-4" href="{% url 'journal:checkin' %}" role="button">Check-in</a>
					</div>
					<hr>
					<!-- Journal Notes -->
					<div class="card bg-jp-black text-jp-white">
						<div class="card-body text-center">
							<!-- <h5 class="card-title">Add comment</h5>
							<a href="#" class="btn btn-jp-orange" disabled>New</a> -->
						</div>
					</div>
					{% for note in notes %}
					<div class="card bg-jp-black text-jp-white">
						<div class="card-body">
							<h5 class="card-title">{{ note.subject }}</h5>
							<small>{{ note.journal_id.entry_date }}</small>
							<p class="card-text">{{ note.comments }}</p>
							<!-- Only available for large notes -->
							<!-- <a href="#" class="btn btn-jp-aqua">More info</a> -->
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	{{ journal|json_script:"journal" }}

{% endblock content %}

{% block script %}
<script src="{% static 'js/calendar.js' %}"></script>
{% endblock script %}
