{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<div class="row mt-2 text-center">
    <div class="col">
        {% if not next_set %}
        <div class="text-center py-2 mb-1 border-bottom border-top border-jp-white">
            <h3 class="pt-1 text-center text-uppercase text-jp-aqua">Workout Complete!</h3>
        </div>
        <h5 class="text-jp-aqua text-uppercase py-2">-</h5>
        <small class="d-block">Congratulations on completing today's workout.</small>
        <div class="row">
            <div class='col-4'>
                <span class="d-block text-uppercase">Reps</span>
                <h6 class="d-block text-jp-aqua fs-4">-</h6>
            </div>
            <div class='col-4'>
                <span class="d-block text-uppercase">Set</span>
                <h6 class="d-block text-jp-aqua fs-4">-</h6>
            </div>
            <div class='col-4'>
                <span class="d-block text-uppercase">RPE</span>
                <h6 class="d-block text-jp-aqua fs-4">-</h6>
            </div>
        </div>
        {% else %}
        <div class="text-center py-2 mb-1 border-bottom border-top border-jp-white bg-jp-orange">
            <h3 class="pt-1 text-center text-uppercase text-jp-white">Next Set</h3>
        </div>
        <h5 class="text-jp-aqua text-uppercase pt-2">{{ next_set.exercise.name }}</h5>
        <h6 class="text-jp-white text-uppercase"><i class="fas fa-dumbbell"></i> {{ next_set.exercise.equipment.name }}</h6>
        
        <div class="row pt-2">
            <div class='col-4'>
                <span class="d-block text-uppercase">Reps</span>
                <h6 class="d-block text-jp-aqua fs-4">{{ next_set.reps }}</h6>
            </div>
            <div class='col-4'>
                <span class="d-block text-uppercase">Set</span>
                <h6 class="d-block text-jp-aqua fs-4">{{ next_set.order }}</h6>
            </div>
            <div class='col-4'>
                <span class="d-block text-uppercase">RPE</span>
                <h6 class="d-block text-jp-aqua fs-4">{{ next_set.rpe }}<small class="text-jp-white">/10</small></h6>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div class="row text-center pb-2">
    {% if not next_set %}
    <div class="col-12 pb-2">
        <a href="{% url 'journal:workout-complete' pk=journal_id workout_id=workout_id %}" class="btn btn-lg btn-jp-aqua" role="button">Finish</a>
    </div>
    {% else %}
    <div class="col-12 pb-2">
        <span class="d-block text-uppercase">Rest</span>
        <h3 id="countdown" class="d-block text-jp-red">READY</h3>
        <a href="{% url 'journal:workout-new' journal_id=journal_id workout_id=workout_id workoutset=next_set.pk %}"
            class="btn btn-lg btn-jp-orange" role="button">Start Set
        </a>
    </div>
    {% endif %}
</div>

<!-- Progress -->
<div class="text-center py-2 bg-jp-grey mb-1 border-bottom border-top border-jp-white">
    <h5 class="text-uppercase pt-2 pb-1 text-jp-white fst-italic">Progress</h5>
</div>
<div class="row bg-jp-black text-jp-white mt-1">
    <div class="col">
        <table class="table text-jp-white">
            <thead>
                <tr class="text-uppercase">
                    <th>Set</th>
                    <th>Exercise</th>
                    <th>Reps</th>
                    <th>Weight</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% if progress%}
                {% for entry in progress %}
                <tr class="align-middle">
                    <td>{{ entry.workoutset.order }}</td>
                    {% if entry.alternative_exercise %}
                    <td class="text-uppercase text-jp-aqua">{{ entry.alternative_exercise }}</td>{% else %}
                    <td class="text-uppercase">{{ entry.workoutset.exercise.name }}</td>{% endif %}
                    <td>{{ entry.reps }}</td>
                    <td>{{ entry.weight }}</td>
                    <td>
                        <a class="btn btn-jp-black border-jp-aqua"
                        href="{% url 'journal:workout-edit' journal_id=journal_id workout_id=workout_id workoutset=entry.workoutset.id pk=entry.id %}">Go</a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr class="align-middle">
                    <td colspan="5" class="text-center fst-italic">No progress yet</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
<!-- Workout Details -->
<div class="text-center py-2 bg-jp-grey mb-1 border-bottom border-top border-jp-white">
    <h5 class="text-uppercase pt-2 pb-1 text-jp-white fst-italic">Workout</h5>
</div>
<div class="bg-jp-black">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed text-jp-white fst-italic" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Click to view
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    {% for set in object.set.all %}
                    <ul class="list-group">
                        {% if next_set.pk == set.pk %}
                        <li class="list-group-item bg-jp-black text-jp-orange">
                            <span class="text-uppercase">
                                <small class="text-jp-red">Set {{ set.order }}:</small> {{set.exercise.name}} <sup class="fst-italic">current</sup>
                            </span>
                        </li>
                        {% else %}
                        <li class="list-group-item bg-jp-black">
                            <span class="text-uppercase">
                                <small class="text-jp-red">Set {{ set.order }}:</small> {{set.exercise.name}}
                            </span>
                        </li>
                        {% endif %}
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block script %} 
<script>
    {% if next_set.rest %}
    var timeleft = {{ next_set.rest }};
    {% else %}var timeleft = 60;{% endif %}
    
    var downloadTimer = setInterval(function(){
    if(timeleft <= 0){
        clearInterval(downloadTimer);
        document.getElementById("countdown").innerHTML = "START";
    } else {
        document.getElementById("countdown").innerHTML = timeleft;
    }
    timeleft -= 1;
    }, 1000);
</script>
{% endblock %}